
<div class="header">

    <div class="nav">

        <ul>
            <li><a href="{{ path('app_bienvenue') }}">Bienvenidos</a></li>
            <li><a href="{{ path('app_bienvenues') }}">Bienvenidos a todos</a></li>
            <li><a href="{{ path('app_etudiant_liste') }}">Los estudiantes de la sol</a></li>
            <li><a href="{{ path('app_etudiant_mineurs_liste') }}">Los estudiantes de la sol but minor</a></li>
        </ul>


    </div>

</div>