
<div class="header">

    <div class="nav">

        <ul>
            <li><a href="{{ path('app_bienvenue') }}">Bienvenidos</a></li>
            <li><a href="{{ path('app_bienvenues') }}">Bienvenidos a todos</a></li>
        </ul>


    </div>

</div>