{% extends 'base.html.twig' %}

{% block title %}Hello BienvenueController!{% endblock %}



{% block body %}

    <h1> Hello BienvenueController!</h1>

    <h1>Bienvenue dans l'équipages du Roi des pirates</h1>
    
  

    {% for name in EquipageOnePiece  %}

    <li><a href="{{ path('app_bienvenue_bienvenueprenom', {'prenom':  name }) }}">{{ name }}</a></li>

    {% endfor %}

{% endblock %}
